/* login.css */

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .background-video {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  
  #myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Set z-index to ensure the video is behind other content */
  }
  
  .container-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgba(255, 255, 255, 0.7); /* Set the background color with transparency */
    z-index: 1; /* Set z-index to make sure the overlay is above the video */
  }
  
  form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    z-index: 2; /* Set z-index to make sure the form is above the overlay */
    /* Your existing form styles here */
  }
  
  form div {
    margin-bottom: 16px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #subbtn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .user-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }
  
  .user-container button {
    margin-left: 10px;
  }
  
  #delbtn {
    width: 10%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #user {
    text-align: center;
  }
  
  #btn {
    align-items: center;
  }